<<<<<<< HEAD
/* docs */
=======
/* basscss master */
>>>>>>> master

@import 'basscss-base-reset';
@import 'basscss-base-forms';
@import 'basscss-base-tables';
@import 'basscss-base-typography';
@import 'basscss-color-base';
@import 'basscss-color-forms';
@import 'basscss-color-tables';
@import 'basscss-btn';
@import 'basscss-btn-sizes';
@import 'basscss-btn-primary';
@import 'basscss-btn-outline';
@import 'basscss-type-scale';
@import 'basscss-utility-typography';
@import 'basscss-utility-layout';
@import 'basscss-align';
@import 'basscss-white-space';
@import 'basscss-positions';
@import 'basscss-responsive-states';
@import 'basscss-grid';
@import 'flex-object';
@import 'basscss-borders';
@import 'basscss-border-colors';
@import 'basscss-colors';
@import 'basscss-background-colors';
@import 'basscss-background-images';
@import 'basscss-media-object';
@import 'basscss-responsive-white-space';
@import 'basscss-utility-headings';
@import 'basscss-ui-utility-groups';
@import 'basscss-table-object';
@import 'gradients';

@import '../plugins/basscss-btn-reset';
@import '../plugins/basscss-force-scroll';
@import '../plugins/basscss-height';
@import '../plugins/basscss-letter-spacing';
@import '../plugins/basscss-max-width';
@import '../plugins/basscss-min-height';
@import '../plugins/basscss-responsive-background-images';
@import '../plugins/basscss-responsive-height';
@import '../plugins/basscss-responsive-min-height';
@import '../plugins/basscss-responsive-utility-typography';
@import '../plugins/basscss-turbo';

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 76em);
@custom-media --breakpoint-xl (min-width: 96em);

:root {

  --font-family: 'Helvetica Neue', Helvetica, sans-serif;
<<<<<<< HEAD
  --line-height: 1.5;
  --heading-font-family: 'Lora', 'Helvetica Neue' , Helvetica, sans-serif;
  --heading-font-weight: bold;
  --heading-line-height: 1.2;
=======
  --line-height: 1.6;
  --heading-font-family: 'Martel', Helvetica, sans-serif;
  --heading-font-weight: bold;
  --heading-line-height: 1.4;
>>>>>>> master
  --monospace-font-family: 'Source Code Pro', Consolas, monospace;

  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;

  --bold-font-weight: bold;

  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
  --space-5: 8rem;

  --form-field-font-size: 1rem;
  --form-field-height: 2.25rem;
  --form-field-padding-y: .5rem;
  --form-field-padding-x: .5rem;

  --button-font-size: inherit;
  --button-font-weight: bold;
  --button-line-height: 1.125rem;
  --button-padding-y: .5rem;
  --button-padding-x: 2rem;

  --container-width: 64em;

  --black:  #0D0D0D;
  --gray:   #aaa;
  --silver: #ddd;
  --white:  #fff;

  --aqua:   #7fdbff;
  --blue:   #00abeb;
  --navy:   #001f3f;
  --teal:   #39cccc;
  --green:  #2ecc40;
  --olive:  #3d9970;
  --lime:   #01ff70;

  --yellow: #ffdc00;
  --orange: #ff851b;
  --red:    #ff4136;
  --fuchsia:#f012be;
  --purple: #b10dc9;
  --maroon: #85144b;

  --darken-1: rgba(0,0,0,.0625);
  --darken-2: rgba(0,0,0,.125);
  --darken-3: rgba(0,0,0,.25);
  --darken-4: rgba(0,0,0,.5);
  --darken-5: rgba(0,0,0,.6);
  --darken-6: rgba(0,0,0,.7);
  --darken-7: rgba(0,0,0,.8);
  --darken-8: rgba(0,0,0,.9);

  --lighten-1: rgba(255,255,255,.0625);
  --lighten-2: rgba(255,255,255,.125);
  --lighten-3: rgba(255,255,255,.25);
  --lighten-4: rgba(255,255,255,.5);
  --lighten-5: rgba(255,255,255,.6);
  --lighten-6: rgba(255,255,255,.7);
  --lighten-7: rgba(255,255,255,.8);
  --lighten-8: rgba(255,255,255,.9);

  --border-width: 1px;
  --border-radius: 6px;
  --border-color: var(--darken-3);
  --hover-background-color: inherit;

  --link-color: var(--blue);
  --button-background-color: var(--blue);
  --pre-background-color: var(--silver);

}
